@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);

}

:root {
  --radius: 0.625rem;
  --background: white;
  --foreground: #11204B;
  --card: white;
  --card-foreground: #11204B;
  --popover: white;
  --popover-foreground: #11204B;
  --primary: #11204B;
  --primary-foreground: white;
  --secondary: #DA0C0C;
  --secondary-foreground: white;
  --muted: #11204B;
  --muted-foreground: black;
  --accent: #11204B;
  --accent-foreground: white;
  --destructive: #DA0C0C;
  --input: #11204B;
  --chart-1: #11204B;
  --chart-2: white;
  --chart-3: #DA0C0C;
  --chart-4: #11204B;
  --chart-5: white;
  --font-inter: "Inter", sans-serif;
  --sidebar: #11204B;
  --sidebar-foreground: white;
  --sidebar-primary: #DA0C0C;
  --sidebar-primary-foreground: white;
  --sidebar-accent: #DA0C0C;
  --sidebar-accent-foreground: white;
  --sidebar-border: #11204B;
}

.dark {
  --background: #11204B;
  --foreground: white;
  --card: #11204B;
  --card-foreground: white;
  --popover: #11204B;
  --popover-foreground: white;
  --primary: white;
  --primary-foreground: #11204B;
  --secondary: #DA0C0C;
  --secondary-foreground: white;
  --tertiary: #FED30F;
  --muted: #DA0C0C;
  --muted-foreground: white;
  --grey: #CFCFCF;
  --accent:  #11204B;
  --accent-foreground: #11204B;
  --destructive: #DA0C0C;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --chart-1: #DA0C0C;
  --chart-2: #11204B;
  --chart-3: #FED30F;
  --chart-4: #DA0C0C;
  --sidebar: #11204B;
  --sidebar-foreground: white;
  --sidebar-primary: white;
  --sidebar-primary-foreground: #11204B;
  --sidebar-accent: #DA0C0C;
  --sidebar-accent-foreground: white;
  --sidebar-border: rgba(255, 255, 255, 0.1);

}



html,
body {
  font-family: var(--font-inter);
}

input:focus{
  --tw-ring-color: none !important;;
}

/* Calendar nav buttons: remove accent hover */
.rdp-nav_button:hover {
  background-color: transparent !important;
  color: inherit !important; /* keep icon color */
}



